.admin_header{
    padding-top: 10vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.admin_logo{
    width: 50vw ;
    padding: 3rem;
}